*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  width: 100%;
  background-color: black;
}

.app-style {
  background-color: black;
  color: whitesmoke;
}

p {
  margin: 0 !important;
}

ul {
  list-style: none;
}

.center-forecast {
  width: 280px;
  margin: auto;
  font-size: 0.7rem;
}

.smaller-text {
  font-size: 0.9rem;
}

.larger-text {
  font-size: 2rem;
}

.day-container {
  display: flex;
  justify-content: space-between;
}
